<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>My Media</span>
    <span style="text-align:right;width: 1500px;">
      <a routerLink="/uploadmedia" routerLinkActive="active" style="text-align:right ;color:white;text-decoration: none;">UploadMedia</a></span>

  </mat-toolbar-row>
</mat-toolbar>
<br/>

<mat-grid-list cols="5" rowHeight="400px">
  <mat-grid-tile *ngFor="let m of media">
    <mat-card class="my-card">
      <mat-card-header >
        <mat-card-title>{{m.filename}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <img class="card-img-top" src="{{m.mediaurl}}" alt="Card image cap" width="250" height="250"/>
      </mat-card-content>
      <mat-card-actions>
        <mat-icon>thumb_up</mat-icon>
        <mat-icon>share</mat-icon>
        <mat-icon> comment</mat-icon>


      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>



</mat-grid-list>



